# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env


# Ignore any logs or runtime data
logs/
*.log

# Ignore package-lock.json for npm users
package-lock.json

# Ignore .DS_Store files on macOS
.DS_Store
